/* CSS Document */

:root{
	--BackgroundColor: #242424;
	
}

body {
	background-color: var(--BackgroundColor);
}

form {
	color: white;
}

h2{
	color: white;
}

/* MAKE BOX FOR WHOLE PAGE IDOT*/
.Authbox{
	display:block;
	background: #0F0F0F;
	border-style: solid;
	border-radius: 20px;
	height: 250px;
	width: 300px
}