/* CSS Document */

*{
	text-decoration: none;
}
/* Background */
body {
	background-color: #1b1b1b;
}
/* Text */
h1 {
	font-family: Courier, serif;
	color: #dddddd;
	text-align: center;
}
p {
	font-family: Courier, monospace;
	color: #dddddd;
	text-align: center;
}

/* Navbar */
.navbar{
	background: #2D2D2D;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	padding-right: 15px;
	padding-left: 15px;
}
.navdiv{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
li{
	list-style: none;
	display: inline-block;
}
li a{
	color: #CB22FF; 
	font-size: 20px; 
	font-weight: bold; 
	margin-right: 25px;
}
button{
	background: White; 
	margin-left: 10px;
	border-radius: 10px;
	padding: 10px
}
button a{
	color: #CB22FF;
	font-weight: bold;
	font-size: 15px;
}


/* Collapsable Sidebar */
.sidebar {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #1D1D1D;
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 60px;
  }
  
  .sidebar a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 25px;
	color: #818181;
	display: block;
	transition: 0.3s;
  }
  
  .sidebar a:hover {
	color: #f1f1f1;
  }
  
  .sidebar .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
  }
  
  .openbtn {
	font-size: 20px;
	cursor: pointer;
	background-color: #2D2D2D;
	color: white;
	padding: 10px 15px;
	border-style: solid;
	border-color: #1b1b1b;
  }
  
  #main {
	transition: margin-left .5s;
	padding: 16px;
  }
  