/* CSS Document */

*{
	text-decoration: none;
}

/* Background */
body {
	background-color: #1b1b1b;
}

/* Pop Up Box */


/* Default Text */
h1 {
	font-family: Courier, serif;
	color: #dddddd;
	text-align: center;
}
p {
	font-family: Courier, monospace;
	color: #dddddd;
	text-align: center;
}

/* About Me Text */
.fade-in-text {
	animation: fadeIn 2s;
}  
@keyframes fadeIn {
	0% { opacity: 0; }
	100% { opacity: 1; }
}
.container1 {
	display: flex;
}
.box1 {
	border-radius: 50px;
	width: 50%;
	border: 5px solid rgb(152, 106, 196);
	padding: 20px;
	margin-top: 1%;
	margin-right: 1%;
}

.box1:hover {
	transform: scale(1.02);
}

.h1one {
	width: 100%;
	border-bottom: 2px solid rgb(193, 115, 238);
	margin: auto;
	margin-top: 1%;
	color: #CB22FF;
}
.one {
	width: 100%;
	margin: auto;
	color: #ffffff;
	margin-top: 1em;
	margin-bottom:2em
}

.box2:hover {
	transform: scale(1.02);
}

.box2{
	border-radius: 50px;
	width: 50%;
	border: 5px solid rgb(130, 46, 168);
	padding: 20px;
	margin-top: 1%;

}

.h1two {
	width: 100%;
	border-bottom: 2px solid rgb(131, 61, 179);
	margin: auto;
	margin-top: 1%;
	color: #872bd3;
}

.two {
	width: 100%;
	margin: auto;
	color: #ffffff;
	margin-top: 1em;
	margin-bottom:2em;
}

.container2 {
	display: flex
}

.box3:hover {
	transform: scale(1.02);
}

.box3{
	border-radius: 50px;
	width: 50%;
	border: 5px solid rgb(91, 99, 219);
	padding: 20px;
	margin-top: 1%;
	margin-right: 1%;
}

.h1three {
	width: 100%;
	border-bottom: 2px solid rgb(109, 124, 209);
	margin: auto;
	margin-top: 1%;
	color: #284bd3;
}
.three {
	width: 100%;
	margin: auto;
	color: #ffffff;
	margin-top: 1em;
	margin-bottom:1em
}

.box4:hover {
	transform: scale(1.02);
}

.box4{
	border-radius: 50px;
	width: 50%;
	border: 5px solid rgb(69, 124, 207);
	padding: 20px;
	margin-top: 1%;
}

.h1four {
	width: 100%;
	border-bottom: 2px solid rgb(77, 97, 163);
	margin: auto;
	margin-top: 1%;
	color: #6d7bb6;
}
.four {
	width: 100%;
	margin: auto;
	color: #ffffff;
	margin-top: 1em;
	margin-bottom:2em
}

/* Navbar */
.navbar{
	background: #2D2D2D;
	font-family: Courier, monospace;
	padding-right: 15px;
	padding-left: 15px;
}
.navdiv{
	display: flex;
	align-items: center;
}

li{
	list-style: none;
	display: inline-block;
}
li a{
	color: #CB22FF; 
	font-size: 20px; 
	font-weight: bold; 
	margin-right: 25px;
}
button{
	background: White; 
	margin-left: 10px;
	border-radius: 10px;
	padding: 10px
}
button a{
	color: #CB22FF;
	font-weight: bold;
	font-size: 15px;
}


/* Collapsable Sidebar */
.sidebar {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #1D1D1D;
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 60px;
  }
  
  .sidebar a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 25px;
	color: #818181;
	display: block;
	transition: 0.3s;
  }
  
  .sidebar a:hover {
	color: #f1f1f1;
  }
  
  .sidebar .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
  }
  
  .openbtn {
	font-size: 20px;
	cursor: pointer;
	background-color: #2D2D2D;
	color: white;
	padding: 10px 15px;
	border-style: solid;
	border-color: #1b1b1b;
	margin: auto;
  }
  
  #main {
	transition: margin-left .5s;
	padding: 16px;
  }
  