.projects-container {
padding: 20px;
}

.projects-container input[type="text"] {
padding: 10px;
margin-bottom: 10px;
width: 100%;
box-sizing: border-box;
}

.projects-container button {
padding: 10px 20px;
margin-bottom: 20px;
background-color: #007bff;
color: white;
border: none;
cursor: pointer;
}

.projects-container button:hover {
background-color: #0056b3;
}

.projects-list {
list-style-type: none;
padding: 0;
}

.projects-list li {
border: 1px solid #ddd;
padding: 10px;
margin-bottom: 10px;
border-radius: 5px;
transition: box-shadow 0.3s ease;
}

.projects-list li:hover {
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.projects-list a {
text-decoration: none;
color: #007bff;
font-weight: bold;
}

.projects-list a:hover {
text-decoration: underline;
}


h3 {
    color: white;
 }

 .tags-list .tag {
    display: inline-block;
    background-color: #444;
    color: white;
    padding: 5px 10px;
    margin: 5px;
    border-radius: 5px;
  }
  
  .tags-list .tag button {
    background: none;
    border: none;
    color: white;
    margin-left: 5px;
    cursor: pointer;
  }