/* Default Text */
h1 {
	font-family: Courier, serif;
	color: #dddddd;
	text-align: center;
}

p {
	font-family: Courier, monospace;
	color: #dddddd;
	text-align: center;
}

body {
	background-color: #3d3d3d;
}

/* Button Color */
.button {
	border: none;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	cursor: pointer;
	background-color: #af7070;
}